<section class="page_404">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="four_zero_four_bg text-center">
          <h1>404</h1>
          <img alt="404: Page not found" src="https://media.tenor.com/FcVg5W9zZJQAAAAC/error.gif" />
          <div class="four_zero_four_text">
            <h2 class="h2">Oops!</h2>
            <h4>
              It may sound scary, but the page you're trying to reach can't be
              found. Perhaps it was just a bad <s>link</s> dream?
            </h4>
            <a href="/" class="btn-go-home">HITCH A RIDE BACK HOME</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>